@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--This is my bread crumb that enables easier navigation-->
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="active"><a href='@Url.Action("Index", "Home")'>Home</li>
        <li><a href='@Url.Action("Degrees","Home")'>Degrees</a></li>

    </ol>
</div>


<!--This is my title of the page -->
<h1>Selected Degree: @ViewBag.Title</h1>

<!--This information varies depending on what was selected, BSIS or MISM, and is centered on the coordinator-->
<p>
    @ViewBag.DegreeName <br />
    @ViewBag.Coordinator, @ViewBag.ProfTitle <br />

    <img src="@Html.Raw(ViewBag.TheirPic)" /> <br />

    Office :@ViewBag.OfficeAddress <br />
</p>

<!--A header-->
<h2 style="font:bold">Education:</h2>

<!--Information on the Coordinator's educational background-->
<p>
    @ViewBag.PhDEducation <br />
    @ViewBag.MastersEd <br />
    @ViewBag.MastersEd <br />
    @ViewBag.BachelorsEd

    <br /> <br />
</p>

<!--A header-->
<h2 style="font:bold">Frequently Asked Questions</h2>

<!--The majority of the rest of the page has this following format, h4 tags to represent a question on the FAQ, p tags contain the response
    and then beneath the p tags is a container that as a modal popup for a response-->
<h4><u>How do I apply?</u></h4>
<p>To apply, please complete the online application found at https://marriottschool.byu.edu/apply/bsis/. </p>


<h4><u><br />Other than grades, what goes into the application?</u></h4>
<p>In addition to grades, the application requires a current resume, as well as a 500-word essay.</p>


<h4><u><br />May I apply concurrently to the information systems program or accounting program and the management program?</u></h4>
<p>
    Yes, you may apply concurrently to all undergraduate programs at the Marriott School. However, you may only enter into one of these programs. <br />

    The information systems and accounting programs admit students only for the fall semester, and the management program will be doing the same beginning
    fall of 2016. Please be aware of deadlines and which requirements are needed to apply to each program. Visit https://marriottschool.byu.edu for more
    information.
</p>


<h4><u><br />What are the prerequisites for the Information Systems junior core?</u></h4>
<p>
    The prerequisite classes for the information systems junior core are as follows: <br />

    IS 201 (IS 110 must be taken before or concurrently with IS 201)<br />
    ACC 200<br />
    FIN 201<br />
    BUS M 241<br />
    IS 303 (or CS 142)<br />
    IS 201 and IS 303 (CS 142) require a grade of B or better.<br />

</p>



<h4><u><br />What generals will be covered with prerequisite classes?</u></h4>
<p>
    Although only accounting 200 is a prerequisite for the Information Systems program, the following premanagement courses will count toward general
    education credit: <br />

    ACC 200 GE: Quantitative Reasoning <br />
    STAT 121 GE: Languages of Learning/Quantitative Reasoning <br />
    MCOM 320 GE: Advanced Writing<br />
    ECON 110 GE: Social Science/ Partial AHTG<br />

    You will be required to take ECON 110, MCOM 320 and STAT 121 once admitted to the program.
    Completion of these courses before beginning the Management Core or MISM is highly recommended.
    If possible, it is helpful to have these courses complete before entering the junior core.
</p>


<h4><u><br />Can I take all of the prerequisite classes in the same semester?</u></h4>
<p>
    It is possible to take all of the prerequisite classes in one semester, though it is strongly discouraged due to the extensive
    time and effort required for each course.
</p>


<h4><u><br />What factors should I consider in deciding to retake a prerequisite class?</u></h4>
<p>
    Please consider the following:<br />
    <ul>
        <li>Any repeated prerequisite courses will be discounted by .3 (e.g. A to A-) in the application process.</li>
        <li>
            If a prerequisite course is retaken, the most recent grade is the one considered during the application process. Thus, it is
            important that you improve your grade the second time you take the class.
        </li>
        <li>Premanagement courses may be repeated only once.</li>
    </ul>
</p>




<h4>
    <u><br />
        What should I do if I cannot get into a class that I need? (E.g. The class is full or the registration system does not allow me
        to register for it.)
    </u>
</h4>
<p>
    Classes may appear full online before the first day of the semester. As the semester begins, students drop classes, and seats become available.
    Be diligent in checking online for seats to become available. You may also contact the academic advisor in 789 TNRB to ask permission to be added
    to the class.
</p>


<h4><u><br />What should I do if I want to do an internship during a fall/winter semester? Is there a way to defer?</u></h4>
<p>
    Yes, to defer for an internship, mission, or other reason, you must apply for a deferment. Deferment forms are available online
    at https://marriottschool.byu.edu/forms/advisement/undgrd. Aside from a deferment, once accepted into the Marriott School, you
    must be enrolled in a three-credit hour class for every semester that you are in the program (excluding spring/summer terms).
</p>



<h4><u><br />How can I receive academic credit for completing an internship?</u></h4>  
<p>If you have not yet been admitted to the program, you may sign up for BUS M 199R. In this class, premanagement students may earn credit 
    for doing an internship. Students who are already in the program should take BUS M 496R for internship credit. Internships must be approved
     for credit by the Marriott School Internship Office in 460 TNRB. Please visit https://marriottschool.byu.edu/internships for further information.</p>


<h4><u><br />What transfer classes count?</u></h4>
<p>
    You can view information regarding transfer classes at https://marriottschool.byu.edu/advisement/classes/transfer-information. This site will
    help you navigate the process of inquiring about transfer classes. It includes a link to a list of previously evaluated transfer classes from
    various colleges. For classes that have not yet been evaluated by the Marriott School, please email a course syllabus, your name and BYU ID number
    to msm_transfer@byu.edu
</p>



<h4><u><br />What do I need to do if I want to declare a minor either in business or another subject?</u></h4>
<p>
    To add a minor, please obtain a minor clearance form from the College Advisement Center that offers the minor program. Once the form is
    filled out and signed, take the form to the College Advisement Center of your primary major.
</p>


<h4><u><br />What do I do if I want to double major?</u></h4>
<p>
    A double major must be approved by the director of the Undergraduate Management Program, the Dean, and your secondary major's college.
    Please complete a Double Major form in the Marriott School Advisement Center (460 TNRB).
</p>


<br />

<!--This allows the user to submit a question or a comment-->
<h4><u>Feel free to submit a question, answer a question, or view all questions asked:</u></h4>
@Html.ActionLink("Submit a Question", "Create", "DegreeQuestions") <br />
@Html.ActionLink("View/Answer a Question", "Index", "DegreeQuestions") <br />




<script>
function clearForm() {
    document.getElementById("myForm").reset();
}
</script>




<!--This allows the user, that the bottom of the screen to be able to select another degree if they desire-->
<p><br /><br />Select another degree to learn more</p>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Degrees
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("BSIS", "SelectedDegree", "Home", new { degree = "BSIS" }, null)</li>

    </ul>
</div>